body {
  background: #00000087;
}

.frame {
  background-color: #0c7b466e;
  border-radius: 2rem;
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  height: 100%;
  width: 100%;
  /* pointer-events: none; */
}

.screen {
  display: block;
  background: transparent;
  background: linear-gradient(#00800080 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 1px;
  box-shadow:
      inset 0 0 18rem black,
      inset 0 0 3rem black,
      0 0 10rem black;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
}

.screen::after {
content: '';
display: block;
background-color: #02ff0042;
width: 100%;
height: 1px;
animation: blinkline 1.5s linear infinite;
}

@keyframes blinkline {
100% {
  transform: translatey(calc(-100vh + 3em));
}
}

.console {
  width: 100%;
  height: 100%;
  padding: 2em;
}

.console::after {
content: "";
border-left: .8em solid transparent;
border-right: .8em solid currentColor;
animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
50% {
  opacity: 0;
}
}