*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

html,
body,
header,
section,
nav {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background: linear-gradient(to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%),
    url("../assets/img/john-schnobrich-FlPc9_VocJ4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

section {
  padding: 4rem 0;
}

section:nth-child(odd) {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

#about a {
  color: inherit;
}

#about h2 {
  text-align: center;
}